#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "1password/tap"
tap "homebrew/aliases"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/services"
tap "mistertea/et"
tap "nrlquaker/createzap"
brew "bat"
brew "chezmoi"
brew "duti"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "gnu-sed"
brew "howdoi"
brew "lazygit"
brew "m-cli"
brew "mas"
brew "neovim", args: ["HEAD"]
brew "ninja"
brew "node"
brew "openjdk"
brew "pdftk-java"
brew "php", restart_service: true
brew "pyenv"
brew "ripgrep"
brew "tesseract"
brew "tesseract-lang"
brew "thefuck"
brew "tldr"
brew "tmux"
brew "wget"
brew "zsh"
brew "mistertea/et/et"
cask "1password"
cask "1password-cli"
cask "adguard"
cask "adobe-acrobat-reader"
cask "aerial"
cask "airbuddy"
cask "alfred"
cask "apparency"
cask "arc"
cask "bartender"
cask "betterzip"
cask "bilibili"
cask "calibre"
cask "cardhop"
cask "cheatsheet"
cask "cleanshot"
cask "cloudflare-warp"
cask "corretto8"
cask "dash"
cask "deepl"
cask "discord"
cask "docker"
cask "douyin"
cask "downie"
cask "dropbox"
cask "element"
cask "fantastical"
cask "firefox"
cask "fliqlo"
cask "font-lxgw-wenkai"
cask "font-rubik"
cask "gpg-suite"
cask "hazeover"
cask "input-source-pro"
cask "istat-menus"
cask "iterm2-nightly"
cask "jetbrains-toolbox"
cask "kaleidoscope"
cask "keyboardcleantool"
cask "league-of-legends"
cask "logi-options-plus"
cask "lyricsx"
cask "mactex"
cask "macupdater"
cask "mail-assistant"
cask "menubarx"
cask "messenger"
cask "microsoft-auto-update"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "miniconda"
cask "neteasemusic"
cask "notion"
cask "nova"
cask "obsidian"
cask "ogdesign-eagle"
cask "opgg"
cask "playcover-community"
cask "qlmarkdown"
cask "qlvideo"
cask "qq"
cask "qqlive"
cask "qqmusic"
cask "rar"
cask "raycast"
cask "rectangle"
cask "rocket"
cask "sketch"
cask "skim"
cask "spotify"
cask "squirrel"
cask "steam"
cask "surge"
cask "suspicious-package"
cask "syntax-highlight"
cask "tableplus"
cask "telegram"
cask "tencent-meeting"
cask "tor-browser"
cask "tower"
cask "transmit"
cask "videofusion"
cask "visual-studio-code"
cask "warp"
cask "wechat"
cask "xld"
cask "zotero"
mas "1Password for Safari", id: 1569813296
mas "Actions", id: 1586435171
mas "Anybox", id: 1593408455
mas "Bob", id: 1630034110
mas "Clarity Wallpaper", id: 1469525516
mas "Compressor", id: 424390742
mas "Craft", id: 1487937127
mas "Days Matter", id: 494500492
mas "DevCleaner", id: 1388020431
mas "Developer", id: 640199958
mas "Drafts", id: 1435957248
mas "DuckDuckGo Privacy for Safari", id: 1482920575
mas "Eagle for Safari", id: 1526651672
mas "Final Cut Pro", id: 424389933
mas "GarageBand", id: 682658836
mas "GoodNotes", id: 1444383602
mas "iMovie", id: 408981434
mas "Infuse", id: 1136220934
mas "Keynote", id: 409183694
mas "Logic Pro", id: 634148309
mas "LookUp", id: 872564448
mas "MainStage", id: 634159523
mas "Maipo", id: 789066512
mas "MarkDownload - Markdown Web Clipper", id: 1554029832
mas "MD Clock", id: 1536358464
mas "Mela", id: 1568924476
mas "MoneyThings", id: 1549694221
mas "Motion", id: 434290957
mas "MusicBox", id: 1614730313
mas "MusicSmart", id: 1512195368
mas "NepTunes", id: 1006739057
mas "Night Sky", id: 475772902
mas "Noir", id: 1592917505
mas "Notion Web Clipper", id: 1559269364
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "PCalc", id: 403504866
mas "Pixelmator Pro", id: 1289583905
mas "Play", id: 1596506190
mas "Playgrounds", id: 1496833156
mas "PopClip", id: 445189367
mas "Reeder", id: 1529448980
mas "Save to Reader", id: 1640236961
mas "ServerCat", id: 1501532023
mas "Shareful", id: 1522267256
mas "Shazam", id: 897118787
mas "Shortery", id: 1594183810
mas "Streaks", id: 963034692
mas "Super Agent", id: 1568262835
mas "Tampermonkey", id: 1482490089
mas "TestFlight", id: 899247664
mas "Timery", id: 1425368544
mas "Twitter", id: 1482454543
mas "Vectornator", id: 1219074514
mas "Vimari", id: 1480933944
mas "WaterMinder", id: 1415257369
mas "Xcode", id: 497799835
mas "xSearch", id: 1579902068
mas "Yoink", id: 457622435
mas "爱奇艺", id: 1012296988
EOF
