#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "cirruslabs/cli"
tap "homebrew/aliases"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/services"
tap "huadeity/tap"
tap "mistertea/et"
tap "nrlquaker/createzap"
tap "spicetify/tap"
brew "bat"
brew "blueutil"
brew "chezmoi"
brew "duti"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "gnu-sed"
brew "lazygit"
brew "m-cli"
brew "mpg123"
brew "neovim", args: ["HEAD"]
brew "ninja"
brew "node"
brew "pdftk-java"
brew "pdm"
brew "php", restart_service: true
brew "publish"
brew "pyenv"
brew "ripgrep"
brew "starship"
brew "tesseract"
brew "tesseract-lang"
brew "thefuck"
brew "tldr"
brew "tmux"
brew "wget"
brew "zsh"
brew "tart"
brew "et"
brew "spicetify-cli"
cask "1password"
cask "1password-cli"
cask "adguard"
cask "aerial"
cask "airbuddy"
cask "aldente"
cask "alfred"
cask "apparency"
cask "arc"
cask "bartender"
cask "bbedit"
cask "betterdiscord-installer"
cask "betterzip"
cask "bilibili"
cask "binance"
cask "calibre"
cask "cardhop"
cask "cheatsheet"
cask "cleanshot"
cask "cloudflare-warp"
cask "copilot-for-xcode"
cask "corretto8"
cask "dash"
cask "discord"
cask "douyin"
cask "downie"
cask "dropbox"
cask "easyconnect"
cask "eudic"
cask "fantastical"
cask "fliqlo"
cask "font-lxgw-wenkai"
cask "gpg-suite"
cask "hazeover"
cask "input-source-pro"
cask "istat-menus"
cask "iterm2"
cask "kaleidoscope"
cask "keyboardcleantool"
cask "logi-options-plus"
cask "lunar"
cask "lyricsx"
cask "mactex"
cask "macupdater"
cask "mail-assistant"
cask "marked"
cask "marsedit"
cask "messenger"
cask "microblog"
cask "microsoft-office"
cask "microsoft-teams"
cask "miniconda"
cask "neteasemusic"
cask "nova"
cask "obsidian"
cask "ogdesign-eagle"
cask "orbstack"
cask "parallels"
cask "permute"
cask "playcover-community"
cask "qlmarkdown"
cask "qlvideo"
cask "qq"
cask "qqlive"
cask "qqmusic"
cask "rar"
cask "rectangle-pro"
cask "sketch"
cask "skim"
cask "sleeve"
cask "spotify"
cask "surge"
cask "suspicious-package"
cask "syntax-highlight"
cask "tableplus"
cask "teamviewer"
cask "telegram"
cask "tencent-meeting"
cask "tor-browser"
cask "tower"
cask "transmit"
cask "utm"
cask "visual-studio-code"
cask "warp"
cask "wechat"
cask "xld"
cask "zoom"
cask "zotero"
EOF
