#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
tap "homebrew/aliases"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/command-not-found"
tap "homebrew/services"
tap "huadeity/tap"
brew "bat"
brew "blueutil"
brew "chezmoi"
brew "duti"
brew "exa"
brew "fd"
brew "fzf"
brew "gh"
brew "git"
brew "git-lfs"
brew "go"
brew "hugo"
brew "lazygit"
brew "mackup"
brew "mysql", restart_service: true
brew "neovim"
brew "ninja"
brew "nvm"
brew "ripgrep"
brew "rustup-init"
brew "tesseract-lang"
brew "thefuck"
brew "tmux"
brew "wgcf"
cask "adguard"
cask "adobe-acrobat-reader"
cask "adobe-creative-cloud"
cask "airbuddy"
cask "aldente"
cask "alfred"
cask "apparency"
cask "bartender"
cask "bibdesk"
cask "bilibili"
cask "bookends"
cask "cleanshot"
cask "copilot-for-xcode"
cask "corretto8"
cask "dash"
cask "discord"
cask "docker"
cask "douyin"
cask "douyin-chat"
cask "downie"
cask "dropbox"
cask "figma"
cask "font-lxgw-wenkai"
cask "gpg-suite-no-mail"
cask "hazeover"
cask "istat-menus"
cask "iterm2"
cask "jetbrains-toolbox"
cask "kaleidoscope"
cask "keepassxc"
cask "logi-options-plus"
cask "lunar"
cask "mactex-no-gui"
cask "macupdater"
cask "mail-assistant"
cask "marked"
cask "microsoft-excel"
cask "microsoft-powerpoint"
cask "microsoft-word"
cask "miniforge"
cask "obsidian"
cask "parallels"
cask "permute"
cask "playcover-community-beta"
cask "qlmarkdown"
cask "qlvideo"
cask "qq"
cask "qqlive"
cask "rar"
cask "rectangle-pro"
cask "sketch"
cask "skim"
cask "sleeve"
cask "soulver"
cask "surge"
cask "suspicious-package"
cask "syntax-highlight"
cask "tableplus"
cask "telegram"
cask "tencent-meeting"
cask "tower"
cask "visual-studio-code"
cask "wechat"
cask "whisky"
cask "xld"
cask "xscope"
cask "zoom"
EOF
