inline_height = 1
show_help = false
workspaces = true

enter_accept = true
keymap_mode = "auto"

[sync]
records = true

{{- if eq .chezmoi.os "darwin" }}
[daemon]
enabled = true
{{- end }}

[theme]
name = "mocha/catppuccin-mocha-mauve"
