function TryImportOrInstallModule {
    param (
        [string]$ModuleName
    )

    try {
        Import-Module $ModuleName -ErrorAction Stop
    } catch {
        Write-Host "Module $ModuleName not found. Attempting to install..."
        Install-Module -Name $ModuleName -Scope CurrentUser -Force -AllowClobber
        Write-Host "Module $ModuleName installed successfully."
    }
}

TryImportOrInstallModule "powershell-windows-autoproxy"
TryImportOrInstallModule "Terminal-Icons"
{{- if ne .chezmoi.os "darwin" -}}
TryImportOrInstallModule "posh-git"
{{- end }}

if ((Get-ItemPropertyValue -Path 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Themes\Personalize' -Name 'AppsUseLightTheme') -eq 0) {
    $env:flavour = "mocha"
} else {
    $env:flavour = "latte"
}

$ompConfigPath = Join-Path (Split-Path $PROFILE.CurrentUserCurrentHost) "catppuccin.omp.json"
oh-my-posh init pwsh --config $ompConfigPath | Invoke-Expression
