{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- $computerName := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if lookPath "scutil" }}
{{-     $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   else }}
{{-     $computerName := promptString "hostname" -}}
{{-   end }}
{{-   $hostname = $computerName -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "ViMacBook" -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "hello@huadeity.com" -}}
{{- $name := "HuaDeity" -}}
{{- $rawsigningkey := promptStringOnce . "signingkey" "Signingkey" -}}
{{- $signingkey := $rawsigningkey -}}
{{- $keycomment := $email -}}
{{- if regexMatch "^([^ ]+ [^ ]+) (.+)$" $rawsigningkey -}}
{{-   $signingkey = regexFind "^([^ ]+ [^ ]+)" $rawsigningkey -}}
{{-   $keycomment = regexReplaceAll "^[^ ]+ [^ ]+ (.+)$" $rawsigningkey "$1" -}}
{{- end -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    signingkey = {{ $signingkey | quote }}
    keycomment = {{ $keycomment | quote }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}

[github]
    refreshPeriod = "12h"

[edit]
    command = "nvim"

[hooks.read-source-state.pre]
    command = "{{ .chezmoi.sourceDir }}/.chezmoiscripts/.install-password-manager.sh"

[doppler]
    project = "dotfiles"
    config = "dev_personal"
{{ if eq .chezmoi.os "darwin" }}
[diff]
    command = "ksdiff"
    args = ["--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
    exclude = ["externals"]

[merge]
    command = "ksdiff"
    args = ["--merge", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ else }}
[diff]
	command = "zed"
	args = ["--wait", "--diff"]

[merge]
command = "bash"
args = [
    "-c",
    "cp {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base && zed --new-window --wait --merge {{ "{{" }} .Destination {{ "}}" }} {{ "{{" }} .Target {{ "}}" }} {{ "{{" }} .Target {{ "}}" }}.base {{ "{{" }} .Source {{ "}}" }}",
]
{{ end }}
