{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
.config/homebrew
.config/launchd
.lldbinit
.pdbrc
Library
{{ else }}
.local/share/terminfo
{{ end }}

{{ if .headless }}
.config/ghostty
.config/ideavim
.config/zed
{{ end }}
