{{- if ne .chezmoi.os "windows" }}
{{- if lookPath "bat" }}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.tmTheme"]
{{- end }}
{{- if lookPath "lazygit" }}
[".config/lazygit/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/lazygit/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/themes-mergable/**"]
{{- end }}
{{- if lookPath "tmux" }}
[".config/tmux/plugins/catppuccin/tmux"]
    type = "archive"
    url = "https://github.com/catppuccin/tmux/archive/main.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/tmux/plugins/tmux-plugins/tmux-cpu"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-cpu/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/tmux/plugins/tmux-plugins/tmux-battery"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-battery/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}
{{- if not .headless }}
[".config/ghostty/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/ghostty/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.conf"]
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
["Library/Developer/Xcode/UserData/FontAndColorThemes"]
    type = "archive"
    url = "https://github.com/catppuccin/xcode/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.xccolortheme"]
{{- end }}
{{- end }}

