[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/plugins/zsh-completions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".oh-my-zsh/custom/themes/powerlevel10k"]
    type = "archive"
    url = "https://github.com/romkatv/powerlevel10k/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

{{- if lookPath "conda" }}
[".oh-my-zsh/custom/plugins/conda-zsh-completion"]
    type = "archive"
    url = "https://github.com/conda-incubator/conda-zsh-completion/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}

{{- if not .headless }}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
    include = ["*/*.tmTheme"]
[".config/zsh-syntax-highlighting/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.zsh"]
[".config/lazygit/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/lazygit/archive/master.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.yml"]
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
[".local/share/bin/rime-install"]
    type = "file"
    url = "https://raw.githubusercontent.com/rime/plum/master/rime-install"
    refreshPeriod = "168h"
[".local/share/bin/im-select"]
    type = "file"
    url = "https://raw.githubusercontent.com/daipeihust/im-select/master/im-select-mac/out/apple/im-select"
    refreshPeriod = "168h"
[".warp/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/warp/archive/master.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.yml"]
["Library/Developer/Xcode/UserData/FontAndColorThemes"]
    type = "archive"
    url = "https://github.com/catppuccin/xcode/archive/master.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.xccolortheme"]
{{- end }}