{{- if ne .chezmoi.os "windows" }}
{{- if lookPath "bat" }}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.tmTheme"]
{{- end }}
{{- if lookPath "lazygit" }}
[".config/lazygit/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/lazygit/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/themes-mergable/**"]
{{- end }}
{{- if not .headless }}
[".config/ghostty/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/ghostty/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.conf"]
{{- end }}
[".local/bin/imgcat"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/imgcat"
    refreshPeriod = "168h"
    executable = true
[".local/bin/imgls"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/imgls"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2api"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2api"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2attention"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2attention"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2cat"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2cat"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2check"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2check"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2copy"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2copy"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2dl"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2dl"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2getvar"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2getvar"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2git"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2git"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2profile"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2profile"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2setcolor"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2setcolor"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2setkeylabel"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2setkeylabel"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2ssh"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2ssh"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2tip"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2tip"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2ul"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2ul"
    refreshPeriod = "168h"
    executable = true
[".local/bin/it2universion"]
    type = "file"
    url = "https://raw.githubusercontent.com/gnachman/iTerm2-shell-integration/main/utilities/it2universion"
    refreshPeriod = "168h"
    executable = true
{{- if eq .chezmoi.os "darwin" }}
["Library/Developer/Xcode/UserData/FontAndColorThemes"]
    type = "archive"
    url = "https://github.com/catppuccin/xcode/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["*/*/*.xccolortheme"]
{{- end }}
{{- end }}

