[user]
	name = HuaDeity
	email = hello@huadeity.com
	signingkey = {{ keepassxcAttribute "SSH Key" "public key" }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
{{- if eq .chezmoi.os "darwin" }}
	program = /usr/local/bin/gpg
{{- end }}
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	allowedSignersFile = ~/.ssh/git_allowed_signers
{{- end }}
[commit]
	gpgsign = true
{{- if eq .chezmoi.os "darwin" }}
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
{{- end }}
[core]
	excludesfile = {{.chezmoi.homeDir}}/.gitignore_global
{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
