{{- if eq .chezmoi.os "linux" }}
NIX_CONFIG_DIR="$HOME/nix-config"
if [[ $(ps --no-header --pid=$PPID --format=comm) != "zsh" && -z ${BASH_EXECUTION_STRING} && ${SHLVL} == 1 ]]; then
  shopt -q login_shell && LOGIN_OPTION='--login' || LOGIN_OPTION=''
  if [ -f "$HOME/.local/state/nix/profile/bin/zsh" ]; then
    exec "$HOME/.local/state/nix/profile/bin/zsh" $LOGIN_OPTION
  else
    if command -v nix >/dev/null 2>&1 && [ -d "$NIX_CONFIG_DIR" ]; then
      (cd "$NIX_CONFIG_DIR" && nix run home-manager/master -- switch --flake .#x86_64-linux)
      [ -f "$HOME/.local/state/nix/profile/bin/zsh" ] && exec "$HOME/.local/state/nix/profile/bin/zsh" $LOGIN_OPTION
    fi
  fi
fi
{{- end }}
# include .bashrc if it exists
if [ -f "$HOME/.bashrc" ]; then
  . "$HOME/.bashrc"
fi
