{{- if eq .chezmoi.os "darwin" }}
Include "~/Library/Group Containers/YCKFLA6N72.app.elpass.macos.group/ssh_config"
{{- end }}

{{- if lookPath "orb" }}
Include ~/.orbstack/ssh/config
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
Host *
   IdentityAgent "/var/folders/f2/txjbhvbs1m712k_zgrzg2lg40000gn/T/IdentityAgent/0EA7DF59"
   ProxyCommand nc -X connect -x 127.0.0.1:6152 %h %p
   ForwardAgent yes
{{- end }}
