{{- if lookPath "orb" }}
Include ~/.orbstack/ssh/config
{{- end }}

Host DMIT
  HostName {{ onepasswordRead "op://Personal/DMIT-LAX/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/DMIT-LAX/username" .onepasswordAccount}}

Host 2080 
  HostName {{ onepasswordRead "op://Personal/2080/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/NPU/username" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port2" .onepasswordAccount}}
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/NPU/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port2" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port4" .onepasswordAccount}}
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/NPU/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port4" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab2/port1" }}
  HostName {{ onepasswordRead "op://Personal/Lab2/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/NPU/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab2/port1" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab2/port2" }}
  HostName {{ onepasswordRead "op://Personal/Lab2/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/NPU/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab2/port2" .onepasswordAccount}}

Host 1080admin
  HostName {{ onepasswordRead "op://Personal/1080/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/1080/username" .onepasswordAccount}}

Host 2080admin
  HostName {{ onepasswordRead "op://Personal/2080/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/2080/username" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port1" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab1/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port1" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port2" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab1/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port2" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port3" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab1/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port3" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab1/port4" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab1/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab1/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab1/port4" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab2/port1" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab2/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab2/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab2/port1" .onepasswordAccount}}

Host {{ onepasswordRead "op://Personal/Lab2/port2" .onepasswordAccount}}admin
  HostName {{ onepasswordRead "op://Personal/Lab2/URL" .onepasswordAccount}}
  User {{ onepasswordRead "op://Personal/Lab2/username" .onepasswordAccount}}
  Port {{ onepasswordRead "op://Personal/Lab2/port2" .onepasswordAccount}}

{{- if ne .chezmoi.os "windows" }}
Host *
   IdentityAgent ~/.1password/agent.sock
{{- end }}