Host {{ onepasswordRead "op://Development/NPU/URL" }}
  HostName {{ onepasswordRead "op://Development/NPU/URL" }}
  User {{ onepasswordRead "op://Development/NPU/username" }}

Host {{ onepasswordRead "op://Development/DigitalOcean/URL" }}
  HostName {{ onepasswordRead "op://Development/DigitalOcean/URL" }}
  User {{ onepasswordRead "op://Development/DigitalOcean/username" }}

Host 192.168.31.1
  HostName 192.168.31.1
  User root 
  HostKeyAlgorithms=+ssh-rsa

Host {{ onepasswordRead "op://Personal/Redmi AX6000/10" }}
  HostName {{ onepasswordRead "op://Personal/Redmi AX6000/10" }}
  User root 
  HostKeyAlgorithms=+ssh-rsa

Host *
  IdentityAgent ~/.1password/agent.sock
