# vim: set ft=nix:

{
  config,
  pkgs,
  isGraphical ? false,
  ...
}:

with pkgs;
let
  shared-packages = map (
    pkgName:
    if pkgName == "git-delta" then
      delta
    else if pkgName == "bat-extras" then
      bat-extras.core
    else if pkgName == "jj" then
      jujutsu
    else if pkgName == "clang-format" then
      clang-tools
    else
      pkgs.${pkgName}
  ) ((import ../shared/packages.nix) { });

  system-packages = (import ../shared/system-packages.nix) { inherit pkgs; };

  guiPackages = [];

  cliPackages = [
    nix-gl-host
    nvitop
  {{- range .packages.base.linux }}
    {{ . }}
  {{- end }}
  {{- range .packages.base.unfree }}
    {{ . }}
  {{- end }}
  {{- range .services.base.shared }}
    {{ .name }}
  {{- end }}
  ];

  addPackages = if isGraphical then guiPackages ++ cliPackages else cliPackages;

in
shared-packages ++ system-packages ++ addPackages
