{
  pkgs,
  isGraphical ? false,
  ...
}:

with pkgs;
let
  shared-packages = map (
    pkgName:
    if pkgName == "git-flow" then
      pkgs.gitflow
    else if pkgName == "git-delta" then
      pkgs.delta
    else if pkgName == "bat-extras" then
      pkgs.bat-extras.core
    else
      pkgs.${pkgName}
  ) ((import ../shared/packages.nix) { });

  system-packages = (import ../shared/system-packages.nix) { inherit pkgs; };

  guiPackages = [ ];

  cliPackages = [
  {{- range .packages.base.linux }}
    {{ . }}
  {{- end }}
  {{- range .services.base.shared }}
    {{ .name }}
  {{- end }}
  ];

  addPackages = if isGraphical then guiPackages ++ cliPackages else cliPackages;

in
shared-packages ++ system-packages ++ addPackages
