_:

let
  shared-packages = (import ../shared/packages.nix) { };
in
shared-packages
++ [
{{- range .packages.base.darwin }}
  {{ . | quote }}
{{- end }}
{{- range .services.base.shared }}
  {
    {{- range $key, $value := . }}
    {{ $key }} = {{- if kindIs "string" $value }} {{ $value | quote }}
    {{- else if kindIs "bool" $value }} {{ $value }}
    {{- else if kindIs "slice" $value }} [ {{ range $i, $item := $value }}{{ if $i }} {{ end }}{{ $item | quote }}{{ end }} ]
    {{- else }} {{ $value }}{{ end }};
    {{- end }}
  }
{{- end }}
]
