{
  config,
  ...
}:

let
  user = config.system.primaryUser;
  brewPrefix = config.homebrew.brewPrefix;
in
{
  users.knownUsers = [ "${user}" ];

  # It me
  users.users.${user} = {
    name = "${user}";
    home = "/Users/${user}";
    isHidden = false;
    uid = 501;
    shell = "${brewPrefix}/fish";
  };

  homebrew = {
    enable = true;
    taps = (import ./taps.nix) { };
    brews = (import ./brews.nix) { };
    casks = (import ./casks.nix) { };
    masApps = (import ./masApps.nix) { };
    onActivation = {
      autoUpdate = true;
      cleanup = "zap";
      upgrade = true;
    };
  };

  # Enable home-manager
  home-manager = {
    useGlobalPkgs = true;
    useUserPackages = true;
    users.${user} =
      {
        pkgs,
        config,
        lib,
        ...
      }:
      {
        home = {
          stateVersion = "25.05";
        };
      };
  };
}
