{{ if eq .osid "linux-debian" "linux-ubuntu" -}}

{{ $packages := list
     "bat"
     "build-essential"
     "exa"
     "fd-find"
     "fzf"
     "git"
     "git-lfs"
     "nodejs"
     "python3"
     "python3-neovim"
     "ripgrep"
     "snapd"
     "thefuck"
     "tmux"
     "zsh" -}}
{{ $classicSnaps := list -}}

{{ if not .headless -}}
{{   $classicSnaps = mustAppend $classicSnaps "code" -}}
{{ end -}}

{{   $classicSnaps = mustAppend $classicSnaps "certbot" -}}
{{   $classicSnaps = mustAppend $classicSnaps "chezmoi" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/bin/bash

set -eufo pipefail

curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
curl -LO https://github.com/neovim/neovim/releases/download/nightly/nvim.appimage
chmod u+x nvim.appimage

{{ $sudo }}apt-get update
{{ $sudo }}apt-get install -y {{ $packages | join " " }}

{{ if lookPath "snap" }}
{{   range $classicSnaps }}
{{ $sudo }}snap install --classic {{ . }}
{{   end }}
{{ end }}

chsh -s $(which zsh)
npm install -g neovim

{{ end -}}