// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
	"agent": {
		"inline_assistant_model": {
			"provider": "zed.dev",
			"model": "claude-3-7-sonnet-latest"
		},
		"always_allow_tool_actions": true,
		"default_profile": "write",
		"default_model": {
			"provider": "zed.dev",
			"model": "claude-3-7-sonnet-thinking-latest"
		},
		"version": "2"
	},
	"auto_install_extensions": {
		"basedpyright": true,
		"basher": true,
		"biome": true,
		"catppuccin": true,
		"catppuccin-icons": true,
		"docker-compose": true,
		"dockerfile": true,
		"env": true,
		"fish": true,
		"git-firefly": true,
		"html": true,
		"just": true,
		"latex": true,
		"log": true,
		"ltex": true,
		"lua": true,
		"nix": true,
		"perplexity": true,
		"rainbow-csv": true,
		"ruby": true,
		"ruff": true,
		"snippets": true,
		"swift": true,
		"toml": true,
		"tree-sitter-query": true,
		"wakatime": true,
		"xml": true
		// "zig": true
	},
	"autosave": {
		"after_delay": {
			"milliseconds": 1000
		}
	},
	"buffer_font_fallbacks": ["Monaspace Neon"],
	"buffer_font_family": "Monaspace Neon Var",
	"buffer_font_features": {
		"calt": true,
		"liga": true,
		"ss01": true,
		"ss02": true,
		"ss03": true,
		"cv01": 2
	},
	"buffer_font_size": 13,
	"diagnostics": {
		"inline": {
			"enabled": true
		}
	},
	"context_servers": {
		"mcp-server-github": {
			"settings": {
				"github_personal_access_token": "{{ doppler "GITHUB_TOKEN" }}"
			}
		}
	},
	"edit_predictions": {
		"mode": "subtle",
		"copilot": {
			"proxy": null,
			"proxy_no_verify": null
		},
		"enabled_in_text_threads": false
	},
	"features": {
		"edit_prediction_provider": "zed"
	},
	"file_types": {
		"TOML": ["tmpl"]
	},
	"git": {
		"inline_blame": {
			"enabled": true,
			"show_commit_summary": true
		}
	},
	"icon_theme": {
		"mode": "system",
		"light": "Catppuccin Latte",
		"dark": "Catppuccin Mocha"
	},
	"language_models": {
		"openai": {
			"version": "1",
			"api_url": "https://openrouter.ai/api/v1"
		}
	},
	"languages": {
		"fish": {
			"formatter": {
				"external": {
					"command": "fish_indent"
				}
			}
		},
		"JSON": {
			"formatter": [
				{
					"code_actions": {
						"source.fixAll.biome": true,
						"source.organizeImports.biome": true
					}
				},
				{
					"language_server": {
						"name": "biome"
					}
				}
			]
		},
		"JSONC": {
			"formatter": [
				{
					"code_actions": {
						"source.fixAll.biome": true,
						"source.organizeImports.biome": true
					}
				},
				{
					"language_server": {
						"name": "biome"
					}
				}
			]
		},
		"Lua": {
			"formatter": {
				"external": {
					"command": "stylua",
					"arguments": [
						"--respect-ignores",
						"--stdin-filepath",
						"{buffer_path}",
						"-"
					]
				}
			},
			"inlay_hints": {
				"enabled": true,
				"show_type_hints": true,
				"show_parameter_hints": true,
				"show_other_hints": true
			}
		},
		"Markdown": {
			"language_servers": ["marksman"]
		},
		"Nix": {
			"language_servers": ["nixd", "!nil"],
			"formatter": {
				"external": {
					"command": "nixfmt",
					"arguments": ["--quiet", "--"]
				}
			}
		},
		"Python": {
			"language_servers": ["basedpyright", "!pyright", "ruff"],
			"formatter": [
				{
					"code_actions": {
						"source.organizeImports.ruff": true,
						"source.fixAll.ruff": true
					}
				},
				{
					"language_server": {
						"name": "ruff"
					}
				}
			]
		},
		"Ruby": {
			"language_servers": ["ruby-lsp", "rubocop", "!solargraph"]
		},
		"Shell Script": {
			"formatter": {
				"external": {
					"command": "shfmt",
					// Change `--indent 2` to match your preferred tab_size
					"arguments": ["--filename", "{buffer_path}", "--indent", "2"]
				}
			},
			"hard_tabs": false,
			"tab_size": 2
		}
	},
	"lsp": {
		// "biome": {
		//   "settings": {
		//     "require_config_file": true
		//   }
		// },
		"rubocop": {
			"initialization_options": {
				"safeAutocorrect": false
			},
			"settings": {
				"use_bundler": false
			}
		},
		"ruby-lsp": {
			"initialization_options": {
				"enabledFeatures": {
					// This disables diagnostics
					"diagnostics": false
				}
			},
			"settings": {
				"use_bundler": false
			}
		},
		"rust-analyzer": {
			"check": {
				"command": "clippy"
			},
			"initialization_options": {
				"inlayHints": {
					"maxLength": null,
					"lifetimeElisionHints": {
						"enable": "skip_trivial",
						"useParameterNames": true
					},
					"closureReturnTypeHints": {
						"enable": "always"
					}
				},
				"rust": {
					"analyzerTargetDir": true
				}
			}
		},
		"yaml-language-server": {
			"settings": {
				"yaml": {
					"keyOrdering": false
				}
			}
		}
	},
	"ssh_connections": [
		{
			"host": "10357",
			"projects": [
				{
					"paths": ["~/Projects/ViS2O"]
				}
			],
			"upload_binary_over_ssh": true
		},
		{
			"host": "10358",
			"projects": [
				{
					"paths": ["~/projects/FTFDrag"]
				}
			]
		}
	],
	"tab_size": 2,
	"tabs": {
		"file_icons": true,
		"git_status": true,
		"show_diagnostics": "all"
	},
	"terminal": {
		"alternate_scroll": "on"
	},
	"theme": {
		"mode": "system",
		"light": "Catppuccin Latte",
		"dark": "Catppuccin Mocha"
	},
	"ui_font_size": 16,
	"vim": {
		"toggle_relative_line_numbers": true
	},
	"vim_mode": true
}
