[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = "key::{{ .signingkey }} ecdsa-sha2-nistp256"
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
{{- if eq .chezmoi.os "darwin" }}
  program = /usr/local/bin/gpg
{{- end }}
  format = ssh
[gpg "ssh"]
  allowedsignersfile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = false
{{- if lookPath "delta" }}
[include]
    path = ~/.config/delta/delta.gitconfig
{{- end }}
{{- if lookPath "ksdiff" }}
    path = ~/.config/ksdiff/ksdiff.gitconfig
{{- end }}
