; vim: set ft=gitconfig:
[user]
  name = {{ .name }}
  email = {{ .email }}
  signingkey = key::{{ .signingkey }} {{ .email }}
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[gpg]
  format = ssh
[gpg "ssh"]
  allowedsignersfile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
  program = {{ .chezmoi.homeDir }}/.local/bin/ssh-keygen-secretive
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[pull]
  rebase = false
{{- if lookPath "delta" }}
[include]
    path = ~/.config/delta/delta.gitconfig
{{- end }}
{{- if lookPath "ksdiff" }}
    path = ~/.config/ksdiff/ksdiff.gitconfig
{{- end }}
